#tablon .anuncios {
    --icon-size: 40px;
    display: flex;
    flex-direction: column;

    .tablon-title {
        font: bold var(--f-xl) var(--f-title-deco);
    }

    .wrap {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-xs);
        overflow: auto;
    }

    a {
        display: grid;
        grid-template-columns: var(--icon-size) max-content 1fr;
        grid-template-areas: "icon date .";
        align-items: center;
        gap: var(--spacing-s);
        border: 1px solid var(--border);
        padding: var(--spacing-xs);

        span {
            grid-area: date;
            font: bold italic var(--f-base) var(--f-title);
        }

        &:before {
          grid-area: icon;
            place-self: center;
            content: "";
            height: 1rem;
            width: 1rem;
            background: var(--text-contrast);
            mask-image: url("https://unpkg.com/lucide-static/icons/megaphone.svg");
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
        }

      &:after {
        content: "";
        grid-area: icon;
        height: var(--icon-size);
        width: var(--icon-size);
        background: var(--accent);
      }
    }
}
