#tablon .linksrapidos {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--spacing);

   div {
     display: flex;
     flex-direction: column;

     span {
       font: var(--f-l) var(--f-title-deco);
       text-transform: uppercase;
     }
     
     a {
       display: flex;
       align-items: center;
       font: var(--f-s) var(--f-metadata);
       text-transform: uppercase;
     }
   }
}
