.viewcomments_body .post.blog {

  h2 {
    font: var(--f-2xl) var(--f-title-deco);
  }

  h3 {
    font: var(--f-xl) var(--f-title);
    text-transform: uppercase;
  }

  h4 {
    font: var(--f-base) var(--f-metadata);
    text-transform: uppercase;
    letter-spacing: .1ch;
    color: var(--text-subtle);
  }

  blockquote {
    border: 1px solid var(--border);
    background: color-mix(in srgb, var(--background-elevated), transparent 20%);
    padding: var(--spacing-2xl);
  }

  .codebox .copy-button {
    background: var(--accent);
    color: contrast-color(var(--accent));
  }
}
