
.viewcomments_body {

  .guidebook-wrap {
    display: grid;
    grid-template-columns: 20vw 1fr;

    .guidebook-toc {
      display: flex;
      flex-direction: column;
      padding: var(--spacing);
      height: max-content;
      position: sticky;
      top: var(--nav-size);

      li {
        display: flex;
        align-items: center;
        font: var(--f-base) var(--f-label);
        padding: var(--spacing-s);
        text-transform: uppercase;
      }
    }

    .guidebook-content {
      display: flex;
      flex-direction: column;
      border-left: 1px solid var(--border);
      
      @media (max-width: 700px) {
        border-left: 0;
      }

      .post.blog {
        display: flex;
        flex-direction: column;

        &:not(:last-of-type) {
          border-bottom: 1px solid var(--border);
        }
        
        .guidebook-subject {
          width: 100%;
          font: var(--f-2xl) var(--f-title-deco);
          padding: var(--spacing-2xl);
          border-bottom: 1px solid var(--border);
        }

        .data .profile-icons {
          display: flex;
          justify-content: flex-end;
        }
        
        .content.message {
          padding: var(--spacing-2xl);
        }
      }
    }
  }
}
