
.viewcomments_body {

  .guidebook-wrap {
    display: grid;
    grid-template-columns: 20vw 1fr;

    .guidebook-toc {
      border-right: 1px solid var(--border);
      display: flex;
      flex-direction: column;
      padding: var(--spacing);

      @media (max-width: 700px) {
        border-right: 0;
      }

      li {
        display: flex;
        align-items: center;
        font: var(--f-base) var(--f-label);
        padding: var(--spacing-s);
      }
    }

    .guidebook-content {
      display: flex;
      flex-direction: column;

      .post.blog {
        display: flex;
        flex-direction: column;

        &:not(:last-of-type) {
          border-bottom: 1px solid var(--border);
        }
        
        .guidebook-subject {
          width: 100%;
          font: var(--f-2xl) var(--f-title-deco);
          padding: var(--spacing-2xl);
          border-bottom: 1px solid var(--border);
        }
        
        .content.message {
          padding: var(--spacing-2xl);
        }
      }
    }
  }
}
