@font-face {
    font-family: voyage;
    src: url(https://puckerino.github.io/Spectra/assets/fonts/voyage_regular.css);
}

@font-face {
    font-family: voyage;
    font-style: bold;
    src: url(https://puckerino.github.io/Spectra/assets/fonts/voyage_bold.css);
}
