.memberlist-users {
    border-left: 1px solid var(--border);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--spacing);

    .member { 
        display: flex;
        flex-direction: column;
        
        .avatar-memberlist { 
            img {
                object-fit: cover;
                height: 300px;
                width: 300px;
            }
        }
        
        .username {
            font: var(--f-xl) var(--f-post-username);
            line-height: 1;
            text-transform: uppercase;
        }
        
        .data { 
            display: flex;
            flex-direction: column;
            gap: var(--spacing-s);
            
            li { 
                font: var(--f-s) var(--f-metadata);
                text-transform: uppercase;
                
                span { 
                }
            }
        }
        
        .contact { 
            display: flex;
            align-items: center;
            justify-content: space-around;
            background: var(--poster);
            padding: var(--spacing-s);
            
            li { 
                a {
                    background: transparent !important;

                    svg {
                        width: var(--f-base);
                        height: var(--f-base);
                        stroke-width: 1;
                    }
                }
            }
        }
    }
}
