.memberlist-users {
    border-left: 1px solid var(--border);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    gap: var(--spacing);

    .member {
        grid-row: span 2;
        display: grid;
        grid-template-rows: subgrid;
        grid-template-columns: max-content 1fr;
        grid-template-areas:
            "header header"
            "contact data"
        ;

        gap: var(--spacing);
        padding: var(--spacing);
        border: 1px solid var(--border);

        hgroup {
            grid-area: header;
            display: grid;
            grid-template-columns: .5fr 1fr;
            grid-template-areas: "img username";
            gap: 0 var(--spacing);
            background: radial-gradient(ellipse 70% 60% at 90% 30%, color-mix(in srgb, var(--poster-dark), transparent 85%), transparent);
        }



        .avatar-memberlist {
            grid-area: img;
            padding: var(--spacing-s);
            border: 1px solid var(--border);

            img {
                object-fit: cover;
                width: 100%;
                height: auto;
                aspect-ratio: 1;
            }
        }

        .username {
            align-self: end;
            grid-area: username;
            font: var(--f-2xl) var(--f-post-username);
            line-height: 1;
            text-transform: uppercase;
        }

        .data {
            border-top: 1px solid var(--poster);
            padding-top: var(--spacing);
            grid-area: data;
            display: flex;
            flex-direction: column;
            gap: var(--spacing-s);

            li {
                display: flex;
                flex-direction: column;
                font: var(--f-s) var(--f-metadata);
                text-transform: uppercase;

                span {
                    &:first-of-type {
                        font-weight: bold;
                        color: var(--text-subtle);
                    }

                    &:last-of-type {
                        display: flex;
                        align-items: center;
                        gap: var(--spacing-s);

                        &:before {
                            content: "";
                            width: 20px;
                            height: 1px;
                            background: var(--poster);
                        }
                    }
                }
            }
        }

        .contact {
            grid-area: contact;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            background: var(--poster);
            padding: var(--spacing-xs);

            li {
                a {
                    background: transparent !important;
                    padding: 0;
                    margin: 0;

                    svg {
                        width: var(--f-base);
                        height: var(--f-base);
                    }
                }
            }
        }
    }
}
