.profile {
  border: 1px solid var(--border);

  button[popovertarget="profile-popover"] {
    padding: var(--spacing-s);
    
    svg {
      width: 1rem;
      height: 1rem;
    }
  }

  
}

/* ==============================
PROFILE POPOVER
=============================== */

.profile-popover-wrap {

  hgroup {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: repeat(2,max-content);
    grid-template-areas: "img username" "img userid";
    gap: 0 var(--spacing);
    padding: var(--spacing);
    border-bottom: 1px solid var(--border);
    background: var(--background-elevated);
    

    .profile-popover-username {
      grid-area: username;
      line-height: 1;
      font: var(--f-2xl) var(--f-post-username);
    }

    .profile-popover-userid {
      grid-area: userid;
      font: var(--f-s) var(--f-metadata);
      text-transform: uppercase;

      span {
        font-weight: bold;
      }
    }

    .profile-popover-avatar {
      grid-area: img;
      height: 100px;
      width: 100px;

      img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border: 10px solid var(--background);
        outline:1px solid var(--border);
      }
    }
  }

  .profile-popover-administrate {
    padding: var(--spacing);
    gap: var(--spacing-xs);
    align-items: center;
    border-bottom: 1px solid var(--border);

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      
      &:first-of-type {
        font: bold var(--f-s) var(--f-metadata);
        text-transform: uppercase;
      }

      &:last-of-type {
        font-size: 0;

        a {
          font-size: var(--f-s);
        }
      }

      &:not(:first-of-type) {
        a {
          padding: var(--spacing-s) var(--spacing);
          background: var(--accent);
          color: var(--text-contrast);
          font: var(--f-s) var(--f-metadata);
          text-transform: uppercase;
          display: flex;
          width: 100%;
          justify-content: center;
          align-items: center;
          text-align:center;
        }
      }
    }
  }

  .page-subtitle {
    padding: var(--spacing);
    font: var(--f-base) var(--f-metadata);
    text-transform: uppercase;
    border-bottom: 1px solid var(--border);
  }

  .popover-profile-fields {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-s);
  }

  .popover-profile-field {
    border: 1px solid var(--border);
    
   
      .ajax-profil_edit {
        display: flex;
        height: 1rem;
        width: 1rem;
        background: red;
      }
    
  }
}
