form.shop {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  grid-template-areas: "filters shop aside";

  .shop-filters {
    grid-area: filters;
  }
  .shop-sidebar {
    grid-area: aside;
  }

  .shop-main {
    grid-area: shop;
  }
}

/* =================================
FILTERS 
================================= */

.shop-filters {
  display: flex;
  flex-direction: column;
  background: var(--background-elevated);
  padding: var(--spacing);
}

.shop-toolbar {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  padding: var(--spacing);
  gap: var(--spacing-xs);
  background: var(--background);

  label {
    font: var(--f-s) var(--f-metadata);
    text-transform: uppercase;
  }
}

.shop-filter-title {
  font: var(--f-l) var(--f-metadata);
  text-transform: uppercase;
  letter-spacing: .1ch;
}


.shop-category-tabs {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);

  li {
    display: flex;
    align-items: center;
    text-align:center;

    button {
      width: 100%;
    }
    
  }
}

/* =================================
CARRITO 
================================= */

.shop-sidebar {
  height: max-content;
  position: sticky;
  top: var(--nav-size);
}

.shop-cart-title {
  font: var(--f-l) var(--f-title);
  text-transform: uppercase;
}

.shop-cart-total {
  display: flex;
  flex-wrap: wrap;

  .shop-cart-total-label {
    width: 100%;
    font: var(--f-s) var(--f-metadata);
    text-transform: uppercase;
    border-bottom: 1px solid var(--accent);
  }
}

.shop-cart-list {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}

.cart-item {
  border: 1px solid var(--border);
  padding: var(--spacing);
}

.cart-item-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .cart-item-name {
    font: bold var(--f-base) var(--f-metadata);
    text-transform: uppercase;
    letter-spacing: .1ch;
  }

  .cart-item-price {
    border: 1px solid var(--border);
    border-radius: var(--spacing-xs);
    corner-shape: squircle;
    background: var(--accent);
    color: var(--text-contrast);
    padding: var(--spacing-s);
    font: italic var(--f-base) var(--f-title);
  }
}

.cart-item-extra-fields {
  border-top: 1px solid var(--border);
  padding-top: var(--spacing-s);

  .cart-item-repeatable-field {
    display: flex;
    flex-direction: column;

    .cart-item-field-label {
      width: max-content;
      background: var(--background-contrast);
      color: var(--text-contrast);
      font: bold var(--f-s) var(--f-metadata);
      text-transform: uppercase;
      padding: var(--spacing-xs) var(--spacing);
    }
  }
}



/* BOTONES DE ACCIÓN*/

.shop-actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
  
/* =================================
MAIN
================================= */

.shop-items {
  display: flex;
  flex-direction: column;
  gap: var(--spacing);
  padding: var(--spacing);
}
