form.shop {
  width: 95vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 25vw;
  grid-template-areas: "shop aside";

  .shop-sidebar {
    grid-area: aside;
  }

  .shop-main {
    grid-area: shop;
  }
}

/* =================================
SIDEBAR 
================================= */

.shop-toolbar {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border);
  padding: var(--spacing);
  background: var(--background-elevated);

  label {
    font: var(--f-s) var(--f-metadata);
    text-transform: uppercase;
  }
}

/* FILTROS */

.shop-category-tabs {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);

  li {
    display: flex;
    align-items: center;
    text-align:center;
  }
}

/* BOTONES DE ACCIÓN*/

.shop-actions {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
}
  
