.ficha {

  header {
    display: flex;
    flex-direction: column;

    .faceclaims {
      display: flex;
      width: 100%;
      background: var(--poster);

      figure {
        mix-blend-mode: multiply;
        
        &:first-of-type {
          mask-image: linear-gradient(to right, black, transparent);
          width: 50%;
        }

        &:last-of-type {
          mask-image: linear-gradient(to left, black, transparent);
          margin-left: -10vw;
          width: calc(50% + 10vw);
        }

        img {
          object-fit: cover;
          height: 80vh;
          width: 100%;
          filter: grayscale(1);
        }
      }
      
    }
  }
}
