.fa-generated-reply-form {
  border-radius: var(--spacing-s);
  corner-shape: var(--shape-cards);
  background: var(--background-elevated);

  &.has-border {
    border: 1px solid var(--border);
  }

  br {
    display: none;
  }
}
