.fa-generated-reply-form {
  border-radius: var(--spacing-s);
  corner-shape: var(--shape-cards);

  &:not(.form-ficha) {
    border: 1px solid var(--boder);
    background: var(--background-elevated);
  }

  br {
    display: none;
  }
}
