
.post:has(.profile-no) {
  --post-style: noprofile;
}

@container style(--post-style: noprofile) {
  .profile {
    display: none !important;
  }
  .postbody {
    grid-column: 1 / -1 !important;
  }
}


.viewtopic_body:has(.post-wide) {
  width: 90vw;

  @media(min-width: 1799px) {
    max-width: 1800px !important;
  }
}

.viewtopic_body:has(.ficha) {
  --quickreply:no;

  .topic-actions.topic-actions-bottom {
    display: none;
  }
}

@container style(--quickreply:no) {
  .quickreply {
    display: none;
  }
}

.post:has(.ficha, s-rol) {
  --post-style: nopadding;
}

@container style(--post-style: nopadding) {
  .content.message {
    padding: 0;
  }
}
