
.post:has(.profile-no) {
  --profile: no;
}

@container style(--profile: no) {
  .profile {
    display: none !important;
  }
  .postbody {
    grid-column: 1 / -1 !important;
  }
}


.viewtopic_body:has(.post-wide) {
  width: 95vw;

  @media(min-width: 1799px) {
    max-width: 1800px !important;
  }
}

.viewtopic_body:has(.ficha, .fa-generated-reply-form) {
  --quickreply:no;

  &:not( > .fa-generated-reply-form) {

  .topic-actions.topic-actions-bottom {
    display: none;
  }
  }
}

@container style(--quickreply:no) {
  .quickreply {
    display: none;
  }
}

.post:has(.ficha, s-rol, .padding-no) {
  --padding: no;
}

@container style(--padding: no) {
  .content.message {
    padding: 0 !important;
  }
}

:is(.br-no) br {
  display: none;
}

/* ======= 
ICONS
========= */
s-icon {
  display: inline-flex;
  flex: none;
  width: 1em;
  height: 1em;

  color: currentColor;
  line-height: 1;
  vertical-align: -0.125em;
}

s-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  overflow: visible;
}

s-icon[data-icon-missing="true"] {
  display: none;
}
