/*==================================
CATEGORY
================================== */

.category {
    hgroup {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,max-content);
        grid-template-areas: "sub sub" "title desc";

        h2 {
            grid-area: title;
            font-size: var(--f-3xl);
            text-fit: grow;
            font-weight: 100;
            text-transform: lowercase;
            line-height: .9;
        }

        &:before {
            grid-area: sub;
        }

        &:after {
            grid-area: desc;
        }
    }
}

@container style(--category-sub) {
  hgroup:before {
      content: var(--category-sub);
      font: var(--f-s) var(--f-metadata);
      text-transform: uppercase;
      letter-spacing: .1ch;
      text-fit: none;
      border-bottom: 1px solid var(--accent);
      padding-bottom: var(--spacing-s);
    }
}

@container style(--category-desc) {
  hgroup:after {
      content: var(--category-desc);
      font: var(--f-s) var(--f-metadata);
      text-transform: uppercase;
      letter-spacing: .1ch;
      text-fit: none;
      color: var(--text-subtle);
      padding: var(--spacing-2xl);
      align-self: center;
    }
}

/*==================================
FORUMS
================================== */

.forum {
    background: var(--background);
}

/*==================================
TITULO
================================== */
.forum>.title {
    font: 200 var(--f-xl) var(--f-forum-title);
    text-transform: uppercase;
}

/*==================================
ICONO
================================== */

.forum>.icon {
    display: none;
}

/*==================================
DESCRIPCION
================================== */

.forum>.description {
    font: var(--f-base) var(--f-text);
    text-wrap: balance;
}

/*==================================
TEMAS Y MENSAJES
================================== */
.forum>.data {
    font: var(--f-s) var(--f-metadata);
    text-transform: uppercase;
    color: var(--text-subtle);
}

/*==================================
LAST POST
================================== */

.lastpost {
    display: flex;
    align-items: center;
    gap: var(--spacing);

    br {
        display: none;
    }

    .avatar-lastpost-forum {

        img {
            outline:1px solid var(--poster-dark);
            border: 10px solid var(--poster);
        }
    }

    .lastpost-data {
        gap: 0 var(--spacing-s);
        flex-grow: 1;
        

        .title {
            font: var(--f-base) var(--f-title);
        }

        .date {
            font: var(--f-s) var(--f-metadata);
            text-transform: uppercase;
        }

        .username {
            font-size: 0;

            strong {
                font-size: var(--f-base) !important;
                font-family: var(--f-post-username);
                font-weight: bold;
                line-height: 1;
            }
        }
    }
}

/*==================================
LINKS
================================== */

.forum .forum-links {
    a {
        font: var(--f-s) var(--f-forum-links);
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
}
