.forum {
    background: var(--background);
}

/*==================================
TITULO
================================== */
.forum>.title {
    font: 200 var(--f-xl) var(--f-forum-title);
    text-transform: uppercase;
}

/*==================================
ICONO
================================== */

.forum>.icon {
    display: none;
}

/*==================================
DESCRIPCION
================================== */

.forum>.description {
    font: var(--f-base) var(--f-text);
    text-wrap: balance;
}

/*==================================
TEMAS Y MENSAJES
================================== */
.forum>.data {
    font: var(--f-s) var(--f-metadata);
    text-transform: uppercase;
    color: var(--text-subtle);
}

/*==================================
LAST POST
================================== */

.lastpost {
    display: flex;
    align-items: center;
    gap: var(--spacing-s);

    br {
        display: none;
    }

    .avatar-lastpost-forum {

        img {
            filter: drop-shadow(0 0 0.75rem var(--poster-darker));
        }
    }

    .lastpost-data {
        gap: 0 var(--spacing-s);
        

        .title {
            font: var(--f-base) var(--f-title);
        }

        .username {
            font: var(--f-s) var(--f-metadata);
            text-transform: uppercase;
            display: grid;
            grid-template-columns: 1fr max-content;
            grid-template-areas: ". icon" "username icon";

            strong {
                grid-area: username;
                font: bold var(--f-base) var(--f-post-username);
            }

            .last-post-icon {
                grid-area: icon;
            }
        }
    }
}

/*==================================
LINKS
================================== */

.forum .forum-links {
    a {
        font: var(--f-s) var(--f-forum-links);
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
}
