.forum {
    background: var(--background);
}

/*==================================
TITULO
================================== */
.forum>.title {
    font: 200 var(--f-xl) var(--f-forum-title);
    text-transform: uppercase;
}

/*==================================
ICONO
================================== */

.forum>.icon {
    display: none;
}

/*==================================
DESCRIPCION
================================== */

.forum>.description {
    font: var(--f-base) var(--f-text);
    text-wrap: balance;
}

/*==================================
TEMAS Y MENSAJES
================================== */
.forum>.data {
    font: var(--f-s) var(--f-metadata);
    text-transform: uppercase;
    color: var(--text-subtle);
}

/*==================================
LAST POST
================================== */

.lastpost {

    .avatar-lastpost-forum {

        img {}
    }

    .lastpost-data {

        .title {
            font: var(--f-base) var(--f-title);
        }

        .username {
            font: 300 var(--f-s) var(--f-metadata);
            text-transform: uppercase;

            strong {
                font: var(--f-base) var(--f-post-username);
            }

            .last-post-icon {

                img {}
            }
        }
    }
}

/*==================================
LINKS
================================== */

.forum .forum-links {
    a {
        font: var(--f-s) var(--f-forum-links);
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
}
