@container style(--category:guidebook) {

    .category {
        padding: var(--spacing-5xl);
    }
    
    hgroup {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(2,max-content) !important;
        grid-template-areas: "title" "desc" !important;

        &:after {
            padding-left: var(--spacing);
            border-left: 2px solid var(--accent);
        }
    }
    
    .forum {
        --forum-rows: 2;
        grid-template-columns: .5fr 1fr;
        grid-template-areas: "title title" "img links";


         & > .title {
                border-bottom: 1px solid var(--border);
            }

        .data,
        .lastpost {
            display: none;
        }
    }
}
