@container style(--category:guidebook) {

    .category {
        padding: var(--spacing-5xl);
    }
    
    hgroup {
        grid-template-columns: 1fr !important;
        grid-template-rows: repeat(2,max-content) !important;
        grid-template-areas: "title" "desc" !important;
    }
    
    .forum {
        --forum-rows: 2;
        grid-template-areas: "title" "links";

        &:not([forum*="codigos"]) {
            border: 1px solid var(--border);
        }

      &[forum*="codigos"] {
        --forum-rows: 1;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "title links";
      }

        .data,
        .lastpost {
            display: none;
        }
    }
}
