/* =====================================
LINKS
====================================== */

.forum .forum-links {
    a {
        font: var(--f-s) var(--f-forum-links);
        text-transform: uppercase;
        display: flex;
        align-items: center;
    }
}

@container style(--forum-links-columns: column) {
    .forum-links {
        display: flex;
        flex-direction: column;
    }
}

@container style(--forum-links-columns: 2columns) {
    .forum-links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@container style(--forum-links-style:contrast) {
  .forum-links a {
      font: var(--f-base) var(--f-metadata);
      text-transform: uppercase;
      letter-spacing: .1ch;
      background: var(--background-contrast);
      color: var(--text-contrast);
      padding: var(--spacing-2xs) var(--spacing-l);
      border-radius: 999px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transition: all .3s allow-discrete;

      &:hover {
          transition: all .3s allow-discrete;
          background: var(--background-elevated-contrast);
      }
  }
}
