@container style(--category: users) {

    .category {
        padding: var(--spacing-5xl);
    }

    .forum:not([forum*="tiendas"]) {
        --forum-rows: 6;
        grid-template-columns: 1rem 1fr 1rem;
        grid-template-areas:
            ". img ."
            ". title ."
            ". data ."
            ". desc ."
            ". links ."
            "lastpost lastpost lastpost"
        ;

        border: 1px solid var(--border);
        padding-top: var(--spacing);

        .lastpost {
            border-top: 1px solid var(--border);
            padding: var(--spacing-s);
        }

        .forum-img {
            height: 60px;
            width: 60px;
            background: var(--accent);
            mask-image: var(--forum-mask);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
        }
    }

    .forum[forum*="gestiones"] {
        --forum-mask: var(--forum-gestiones-mask);
    }

    .forum[forum*="inscripciones"] {
        --forum-mask: var(--forum-inscripciones-mask);
    }

    .forum[forum*="tarot"] {
        --forum-mask: var(--forum-tarot-mask);
    }

    .forum[forum*="balanza"] {
        --forum-mask: var(--forum-balanza-mask);
    }


    .forum[forum*="tiendas"] {
        --forum-rows: 4;
        position: relative;
        gap: var(--spacing);
        grid-template-columns: 1fr max-content 1fr;
        grid-template-rows: repeat(4, max-content);
        grid-template-areas:
            "title links img"
            "data links img"
            "desc links img"
            "lastpost links img"
            ;

        &>.title {
            align-self: end;
            font: bold var(--f-4xl) var(--f-title-deco);
            z-index: 2;
        }

        .description {
            border-left: 2px solid var(--accent);
            padding-left: var(--spacing-2xl);
            width: 60ch;
            z-index: 2;
        }

        .forum-img {

            img {
                object-fit: contain;
                width: 100%;
                height: auto;
            }
        }

        .links {
            place-content: center;
            padding: var(--spacing);
            background: var(--background-elevated-contrast);
        }

        .forum-links {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: var(--spacing);
            position: relative;
            z-index: 2;


            a {
                padding: var(--spacing-xl);
                font: var(--f-base) var(--f-title);
                text-transform: uppercase;
                aspect-ratio: 1;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: var(--spacing-s);
                padding: var(--spacing);
                background: var(--background-elevated2-contrast);
                color: var(--text-contrast);

                &:before {
                    content: "";
                    height: 60px;
                    width: 60px;
                    background: var(--text-contrast);
                    mask-image: var(--link-mask);
                    mask-size: contain;
                    mask-repeat: no-repeat;
                    mask-position: center;
                }

                &[store="recompensas"] {
                    --link-mask: var(--tienda-recompensas-mask);
                }

                &[store="items"] {
                    --link-mask: var(--tienda-items-mask);
                }

                &[store="nivel"] {
                    --link-mask: var(--tienda-nivel-mask);
                }

                &[store="ecos"] {
                    --link-mask: var(--tienda-ecos-mask);
                }
            }
        }
    }

}
