@container style(--category: pjs) {

  .category {
    padding: var(--spacing-5xl);
  }

  .forum:not([forum*="fichas"]) {
    --forum-rows: 5;
    grid-template-columns: 2rem 1fr .5fr;
    grid-template-areas:
      "title title img"
      "data data img"
      "divider desc desc"
      "divider links links"
      "divider lastpost lastpost"
      ;

    background: radial-gradient(ellipse 70% 60% at 0% 30%, color-mix(in srgb, var(--surface-4), transparent 65%), transparent);
    padding: var(--spacing);

    &:before {
      content: "";
      grid-area: divider;
      width: 1px;
      height: 100%;
      background: var(--border);
    }
    
    
  }
}
