@container style(--category: pjs) {

  .category {
    padding: var(--spacing-5xl);
  }

  .forum[forum*="fichas"] {
    padding: var(--spacing-2xl);
    color: var(--text-contrast);
    background-color: var(--background-elevated-contrast);
    background-image: url(https://i.imgur.com/6vNArVk.png);
    background-size: contain;
    background-repeat: no-repeat;

    & > .title {
      font: var(--f-5xl) var(--f-title-deco);
    }
  }

  .forum:not([forum*="fichas"]) {
        --forum-rows: 4;
        grid-template-columns: 1rem .5fr 1fr 1rem;
        grid-template-areas:        
          ". img title ."        
          ". img data ."        
          ". img links ."        
          "lastpost lastpost lastpost lastpost";
        border: 1px solid var(--border);
        padding-top: var(--spacing);

    .lastpost {
      padding: var(--spacing-s);
      border-top: 1px solid var(--border);
    }

    .forum-img {
      width: 100%;
      height: auto;
      aspect-ratio: 1;
      background: var(--accent);
    }
  }
}
