@container style(--category: rol) {

    .category {
        padding: var(--spacing-5xl);
    }

    .forum-wrap {
        gap: 0;
    }

    .forum:first-of-type {
        --forum-rows: 5;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 100px repeat(4,max-content);
        grid-template-areas:
            ". . ."
            "data data data"
            "title title title"
             ". desc ."
            "links . lastpost"
        ;

        &:before {
            content: "";
            grid-column: 1 / -1;
            grid-row: 3 / 6;
            background: var(--forum-rol-cicloencurso-background);
            border: 1px solid var(--border);
            border-bottom: 0;
        }

        &:after {
            content: "";
            grid-column: 1 / -1;
            grid-row: 5 / 6;
            background: var(--background-elevated);
        }

        &>.title {
            padding: var(--spacing-5xl) var(--spacing-xl) 0 var(--spacing-xl);
            font: var(--f-5xl) var(--f-title-deco);
            text-align: center;
            place-content: center;
            position: relative;
            z-index: 2;
        }

        .description {
            text-align: center;
            height: max-content;
            background: var(--background-contrast);
            color: var(--text-contrast);
            padding: var(--spacing-xs) var(--spacing);
        }

        .data {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            &>.form-control {
                display: flex;
                gap: var(--spacing-xs);

                &:first-of-type {
                    grid-column: 1;
                    justify-content: flex-end;
                    align-items: flex-end;
                }

                &:last-of-type {
                    justify-content: flex-start;
                    align-items: flex-end;
                    grid-column: 3;
                }
            }
        }

        .forum-img {
            grid-column: 2;
            grid-row: 1 / 6;
            background: var(--forum-rol-cicloencurso-img);
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }

        .lastpost, .links {
            position: relative;
            z-index: 2;
            align-items: flex-end;
            padding: var(--spacing);
        }

        .links {
            display: flex;
            justify-content: flex-end;

            .forum-links a {
                height: 60px;
                padding: var(--spacing) var(--spacing-3xl);
                background: var(--accent);
                color: var(--text-contrast);
            }
        }

    }

    .forum:not(:first-of-type) {
        --forum-rows: 4;
        grid-template-columns: 150px 1fr .5fr;
        grid-template-areas:
            "img desc desc"
            "img title title"
            "img data lastpost"
            "img links lastpost"
        ;

        align-items: center;
        gap: 0 var(--spacing);
        border: 1px solid var(--border);
        border-bottom: 0;
        padding: var(--spacing);

        &>.title {
            text-transform: none;
            font: 200 var(--f-2xl) var(--f-metadata);
        }

        .description {
            font: var(--f-s) var(--f-metadata);
            text-transform: uppercase;
            color: var(--text-subtle);
        }

        .data {
            display: flex;
            align-items: center;

            &:before {
                content: "";
                height: 1px;
                width: 5vw;
                background: var(--accent);
            }
        }

        .forum-links {
            display: flex;
            flex-direction: row;
            gap: var(--spacing-s);
        }

        .lastpost {
            flex-direction: row-reverse;

            .lastpost-data {
                text-align: right;
            }
        }

        .forum-img {
            height: 150px;
            width: 150px;

            img {
                object-fit: contain;
                width: 150px;
                height: 150px;
                aspect-ratio: 1;
            }
        }
    }

    .forum:last-of-type {
        border-bottom: 1px solid var(--border);
    }

    @media (max-width: 700px) {
        .forum {
            --forum-rows: 5;
            grid-template-columns: 150px 1fr;
            grid-template-areas:
                "img desc"
                "img title"
                "img data"
                "img links"
                "img lastpost"
            ;
            
            align-items: center;
            gap: 0 var(--spacing);
            border: 1px solid var(--border);
            border-bottom: 0;
            padding: var(--spacing);

            &:last-of-type {
                border-bottom: 1px solid var(--border);
            }
        }
    }
}
