.topiclist.grid {

  .announcement & {
    border: 0;
  }

  & > .stack {
    display: grid;
    gap: var(--spacing);
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

    .announcement & {
      grid-template-columns: repeat(2,1fr);
      padding: 0;
      border: 0;
    }
  }
  
  .topiclist-title {
    display: none;
  }

  .topic { 
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 1px solid var(--border);

    .announcement & {
      justify-content: center;
      align-items: center;
    }
    
    .icon { 
      display: none;
    }
    
    .card-hero { 
      width: 100%;
      aspect-ratio: 1;
      
      img { 
        object-fit: cover;               
        width: 100%;
        height: 100%;
        aspect-ratio: 1;
        mask-image: linear-gradient(to bottom, black, transparent);
      }

      .announcement & {
        display: none;
      }
    }
    
    .topic-type { 
      display: none;
    }
    
    .title { 
      font: bold var(--f-2xl) var(--f-title-deco);
      width: 100%;
      padding: var(--spacing);
      text-align: left;
      margin-top: -1lh;
      position: relative;

      .announcement & {
        margin-top: 0;
        font: 300 var(--f-xl) var(--f-metadata);
        text-transform: uppercase;
      }
    }

    .lastpost {    
      justify-content: space-between;
      width: 100%;
      padding: var(--spacing);
      border-top: 1px solid var(--border);
      background: var(--background-elevated);

      .announcement & {
        display: none;
      }
    }
  }
}
