nav {
    height: var(--nav-size);
    width: 100%;
    background: color-mix(in srgb, var(--navbar), transparent 40%);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 999;
    display: grid;
    gap: 0 var(--spacing-s);
    padding-left: var(--spacing-s);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "forum logo user";

    &:has(.breadcrumbs:not(:empty)) {
        grid-template-rows: repeat(2, max-content);
        grid-template-areas: "forum logo user" "forum breadcrumbs user";
    }

    & * {
        display: flex;
        align-items: center;
        gap: var(--spacing-s);
    }

    svg {
        height: 18px;
        width: 18px;
    }

    .forum-nav {
        grid-area: forum;

    }

    .nav-logo {
        grid-area: logo;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1;
        font-family: var(--f-deco);
    }

    .breadcrumbs {
        grid-area: breadcrumbs;
        justify-content: center;

        &:empty {
            display: none;
        }

    }

    .user-nav {
        grid-area: user;
        justify-content: flex-end;
    }

    .guest-nav {
        grid-area: user;
        justify-content: flex-end;
        padding-right: var(--spacing);

        button {
            padding: var(--spacing-xs) var(--spacing);
            font: var(--f-s) var(--f-buttons);
            background: var(--accent);
            color: contrast-color(var(--accent));
        }
    }
}

/* ====== POPOVERS ====== */

#notis-popover {
    --popover-width: 30vw;
    --popover-height: calc(100vh - var(--nav-size) - var(--spacing));
    --popover-transform: translateX(100%);
    --popover-transform-open: translateX(0);
    margin-right: calc(var(--spacing) / 2);
    margin-top: calc(var(--nav-size) + calc(var(--spacing)/2));
    border: 0;
    border-radius: var(--spacing-s);
    corner-shape: var(--shape-elements);
}

#forumnavmenu {
    --popover-width: 100%;
    --popover-height: calc(100vh - var(--nav-size));
    --popover-transform: translateX(-100%);
    --popover-transform-open: translateX(0);
    margin-top: var(--nav-size);
    border: 0;

    li.title {
        font: bold var(--f-base) var(--f-title);
        text-transform: uppercase;
        border-bottom: 1px solid var(--accent);
        padding-bottom: var(--spacing-s);
    }

    a {
        font: var(--f-s) var(--f-metadata);
        text-transform: uppercase;
        display: flex;
        align-items: center;
        gap: var(--spacing-s);
    }

    svg {
        height: 1rem;
    }
}

#login-popover {
    --popover-width: max-content;
    --popover-height: max-content;
    --popover-transform: translateY(-10%);
    --popover-transform-open: translateY(0);
    border-radius: var(--spacing-s);
    corner-shape: var(--shape-elements);
    border: 0;
}

#profile-popover {
    --popover-width: 50vw;
    --popover-height: calc(100vh - var(--nav-size) - var(--spacing));
    --popover-transform: translateX(100%);
    --popover-transform-open: translateX(0);
    border-radius: var(--spacing-s);
    corner-shape: var(--shape-elements);
    margin-right: calc(var(--spacing) / 2);
    margin-top: calc(var(--nav-size) + calc(var(--spacing)/2));
    overflow: auto;
    border: 0;
}

#switcheroo-popover {
    --popover-width: 30vw;
    --popover-height: calc(100vh - var(--nav-size) - var(--spacing));
    --popover-transform: translateX(100%);
    --popover-transform-open: translateX(0);
    border-radius: var(--spacing-s);
    corner-shape: var(--shape-elements);
    margin-right: calc(var(--spacing) / 2);
    margin-top: calc(var(--nav-size) + calc(var(--spacing)/2));
    border: 0;
}

/* ===== NOTIS ===== */

#notif_list li {
    border: 1px solid var(--border);
}

.switcheroo {

    .switcheroo__squircles {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-s);

        .switcheroo__squircle {
            position: relative;
            display: flex;
            align-items: center;
            gap: var(--spacing-s);
            padding: var(--spacing-s);
            border: 1px solid var(--border);
            border-radius: var(--spacing-s);
            corner-shape: var(--shape-elements);
            background: var(--background-elevated);

            &.active {
                background: red;
            }

            .switcheroo__avatar {
                height: 50px;
                width: 50px;

                img {
                    aspect-ratio: 1;
                    object-fit: cover;
                    width: 50px;
                    height: 50px;
                    border-radius: var(--spacing-s);
                    corner-shape: var(--shape-elements);
                }
            }

            .switcheroo__popper {

                .switcheroo__popper-text {
                    font: var(--f-l) var(--f-post-username);

                    .switcheroo__squircle--button & {
                        font: var(--f-base) var(--f-buttons);
                    }
                }
            }

            .switcheroo__delete {
                position: absolute;
                top: var(--spacing);
                right: var(--spacing);
                background: var(--accent);
                color: var(--text-contrast);
                padding: var(--spacing-s);
                aspect-ratio: 1;
                font-size: var(--f-s);
                border-radius: var(--spacing-xs);
                corner-shape: var(--shape-elements);
            }
        }
    }
}
