.forum-banner {
    width: 100%;
    height: calc(100vh - var(--nav-size));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
        width: 80vw;
        text-transform: uppercase;
        line-height: .8 !important;
        font: var(--f-5xl) var(--f-deco);
        text-fit: grow per-line-all;
    }

    p {
        font: italic var(--f-l) var(--f-metadata);
        text-transform: lowercase;
    }
}
