@container style(--category:guidebook) {

    hgroup {
        grid-template-areas: "title title" ". desc" !important;

        &:after {
            padding-left: var(--spacing);
            border-left: 2px solid var(--accent);
            margin-left: var(--spacing-5xl);
        }
    }

    .forum-wrap {
        background: var(--accent-deco);
        padding: var(--spacing-2xl);
        border: 1px solid var(--border);
    }
    
    .forum {
        --forum-rows: 2;
        background: transparent !important;
        grid-template-columns: 1fr;
        grid-template-areas: "title" "links";

        &:not(:last-of-type) {
            border-right: 1px solid var(--border);
        }


         & > .title {
             display: flex;
             justify-content: center;
             align-items: center;
             text-align: center;
             position: relative;
            }

        .forum-img {
            grid-area: title;
            height: 60px;
            width: 60px;
            background: var(--accent);
            mask-image: var(--forum-mask);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
            place-self: center;
        }

        &[forum*="general"] {
            --forum-mask: var(--guidebook-general-mask);
        }

        &[forum*="ambientacion"] {
            --forum-mask: var(--guidebook-ambientacion-mask);
        }

        &[forum*="sistema"] {
            --forum-mask: var(--guidebook-sistema-mask);
        }

        &[forum*="codigos"] {
            --forum-mask: var(--guidebook-codigos-mask);
        }

        .data,
        .lastpost {
            display: none;
        }
    }
}
