@container style(--category:guidebook) {

    hgroup {
        grid-template-areas: "title title" ". desc" !important;

        &:after {
            padding-left: var(--spacing);
            border-left: 2px solid var(--accent);
            margin-left: var(--spacing-5xl);
        }
    }
    
    .forum {
        --forum-rows: 2;
        grid-template-columns: 60px 1fr;
        grid-template-areas: "img title" "img links";


         & > .title {
                border-bottom: 1px solid var(--border);
            }

        .forum-img {
            height: 60px;
            width: 60px;
            background: var(--accent);
            mask-image: var(--forum-mask);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
        }

        &[forum*="general"] {
            --forum-mask: var(--guidebook-general-mask);
        }

        &[forum*="ambientacion"] {
            --forum-mask: var(--guidebook-ambientacion-mask);
        }

        &[forum*="sistema"] {
            --forum-mask: var(--guidebook-sistema-mask);
        }

        &[forum*="codigos"] {
            --forum-mask: var(--guidebook-codigos-mask);
        }

        .data,
        .lastpost {
            display: none;
        }
    }
}
