@container style(--category: pjs) {

    .forum:not([forum*="fichas"]) {
        --forum-lastpost: standard;
        --forum-rows: 3;
        grid-template-columns: max-content 60px 1fr max-content;
        grid-template-rows: repeat(3, max-content);
        grid-template-areas:
            ". img title ."
            ". img links ."
            "lastpost lastpost lastpost lastpost";
        border: 1px solid var(--border);
        padding-top: var(--spacing);
        gap: var(--spacing-s) var(--spacing);

        .forum-img {
            width: 60px;
            height: 60px;
            background: var(--accent);
            mask-image: var(--forum-mask);
            mask-size: contain;
            mask-repeat: no-repeat;
            mask-position: center;
        }
    }

    .forum[forum*="busquedas"] {
        --forum-mask: var(--forum-busquedas-mask);
    }

    .forum[forum*="baules"] {
        --forum-mask: var(--forum-baules-mask);
    }

    .forum[forum*="mensajeria"] {
        --forum-mask: var(--forum-mensajeria-mask);
    }
}
